<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/trangchu">
          <img src="./images/logo-footer.png" alt="logo" style="width:90%;">
        </a>
        
        <!-- Links -->
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/lichhen"> <span class="fas fa-calendar"></span> Lịch hẹn</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/khachhang"><span class="fas fa-id-card"></span> Khách hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/thongke"><span class="fas fa-donate"></span> Thống kê</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/toc"><span class="fas fa-folder-open"></span> Quản lý tóc</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/products"><span class="fas fa-paperclip"></span> Quản lý sản phẩm</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/logout"><span class="fas fa-user-secret"></span> Đăng xuất</a>
        </li>
    </ul>

    
      </nav>
      <div class="khachhang">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h3 class="text-center text-light my-5">Danh sách tài khoản khách hàng</h3>
            <div class="table-responsive">
              <table class="table table-dark table-striped table-hover">
                <input class="form-control" id="myInputKH" type="text" placeholder="Search..">
                <thead class="thead-dark">
                  <tr>
                    <th>ID khách hàng</th>
                    <th>User name</th>
                    <th>Giới tính</th>
                    <th>Tương tác</th>
                  </tr>
                </thead>
                <tbody id="myTableKH">
                  <tr data-h>
                    <td>1</td>
                    <td>HanLong001</td>             
                    <td>Nam</td>
                    <td><button class="btn-dark btn btn-khachhang" data-toggle="modal" data-target="#XoaKHModal">Xóa</button></td>
                  </tr>
    
                  <tr>
                    <td>2</td>
                    <td>mylinh1991</td>
                    <td>Nữ</td>
                    <td><button class="btn-dark btn btn-khachhang" data-toggle="modal" data-target="#XoaKHModal">Xóa</button></td>
                  </tr>
    
                  <tr>
                    <td>3</td>
                    <td>yenlinh1991</td>
                    <td>Nữ</td>
                    <td><button class="btn-dark btn btn-khachhang" data-toggle="modal" data-target="#XoaKHModal">Xóa</button></td>
                  </tr>
    
                  
                  <tr>
                    <td>4</td>
                    <td>lamchidung9</td>
                    <td>Nam</td>
                    <td><button class="btn-dark btn btn-khachhang" data-toggle="modal" data-target="#XoaKHModal">Xóa</button></td>
                  </tr>
    
                  <tr>
                    <td>5</td>
                    <td>lylienkiet</td>
                    <td>Nam</td>
                    <td><button class="btn-dark btn btn-khachhang" data-toggle="modal" data-target="#XoaKHModal">Xóa</button></td>
                  </tr>
                </tbody> 
              </table>
    
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>  


      
</body>
      <!-- Script table khách hàng -->
      <script>
        $(document).ready(function () {
          $("#myInputKH").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTableKH tr").filter(function () {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
      </script>
      <!-- End table khách hàng -->

      <!-- The Modal -->
      <div class="modal fade" id="XoaKHModal">
        <div class="modal-dialog">
          <div class="modal-content" style="background: rgba(77, 76, 76, 0.8);border: 1px solid white;">

            <!-- Modal body -->
            <div class="modal-body">
              <form action="/action_page.php" class="p-4">
                <h3 class="text-light mb-3">Xóa khách hàng này?</h3>
              </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-khachhang" data-dismiss="modal">Xóa</button>
              <button type="button" class="btn btn-primary btn-khachhang" data-dismiss="modal">Không</button>
            </div>

          </div>
        </div>
      </div>